<h1>
    עדכון קורא
    <a class="btn short toggleMode" ng-click="toggleModes()">{{editMode?"למצב קריאה":"למצב עריכה"}}</a>
</h1>
<img class="rightImage" src="dist/img/viewReader.png">
<div class="form">
    <div ng-show="editMode">
        <table class="fields">
            <tr>
                <td class="title required">
                    שם:
                </td>
                <td text-field field-name="name">
                </td>
            </tr>
            <tr>
                <td class="title">
                    כתובת:
                </td>
                <td>
                    <div class="fieldInit">
                        <label>עיר:</label>
                        <div text-field field-name="city"></div>
                    </div>
                    <div class="fieldInit">
                        <label>רחוב:</label>
                        <div text-field field-name="street"></div>
                    </div>
                </td>
            </tr>
            <tr>
                <td class="title required">
                    מס' ספרים:
                </td>
                <td select-field field-name="maxBooks" options="maxBooks">
                </td>
            </tr>
            <tr>
                <td class="title required">
                    סוג קורא:
                </td>
                <td select-field field-name="readerType" add-class="big" options="readerTypes" options-value="id" options-text="title">
                </td>
            </tr>
            <tr>
                <td class="title">
                    תשלום חודשי:
                </td>
                <td>
                    <input type="text" class="small" disabled="disabled" value="{{monthlyPay| number:2}}">
                    ₪
                </td>        
            </tr>
            <tr>
                <td colspan="2">
                    <img src="dist/img/loader.gif" class="loader" ng-show="loading">
                    <div general-errors></div>
                    <a class="btn left" ng-click="updateReader()" ng-hide="loading">עדכן קורא</a>
                </td>
            </tr>
        </table>
    </div>
    <div ng-hide="editMode">
        <h2 class="readerTitle" ng-bind="fields.name"></h2>
        <table class="fields">
            <tr>
                <td class="title">
                    ת.ז.:
                </td>
                <td>
                    {{fields.id}}
                    <a id="borrowBtn" href="#/borrowBooks?id={{fields.id}}" class="btn">השאל/החזר ספרים</a>
                </td>
            </tr>
            <tr>
                <td class="title">
                    כתובת:
                </td>
                <td ng-bind="address()">
                </td>
            </tr>
            <tr>
                <td class="title">
                    מס' ספרים:
                </td>
                <td ng-bind="fields.maxBooks">
                </td>
            </tr>
            <tr>
                <td class="title">
                    סוג קורא:
                </td>
                <td ng-bind="getReaderType(fields.readerType).title">
                </td>
            </tr>
            <tr>
                <td class="title">
                    תאריך הצטרפות:
                </td>
                <td>
                    {{fields.joinDate| dateToISO |date:'dd/MM/yy'}}
                </td>
            </tr>            
            <tr>
                <td class="title">
                    תשלום חודשי:
                </td>
                <td>
                    {{monthlyPay| number:2}}
                    ₪
                </td>
            </tr>
            <tr>
                <td class="title">
                    סך תשלומים:
                </td>
                <td>
                    {{fields.payments|number:2}}
                    ₪
                </td>
            </tr>
            <tr>
                <td class="title">
                    סך קנסות:
                </td>
                <td>
                    {{fine|number:2}}
                    ₪
                </td>
            </tr> 
        </table>
        <div class="tabs">
            <div tab-head>
                השאלות
            </div>
            <div tab-head>
                היסטוריה
            </div>
            <div tab-body>
                <table st-table="displayedBorrows" st-safe-src="borrows" class="data-table">
                    <thead>
                        <tr>
                            <th st-sort="bookName">ספר</th>
                            <th st-sort="borrowDate" st-sort-default="reverse">תאריך השאלה</th>
                            <th st-sort="boolReturn">האם הוחזר</th>
                            <th st-sort="returnDate">תאריך החזרה</th>
                            <th>איחור</th>
                            <th>קנס (₪)</th>

                        </tr>
                        <tr>
                            <th>
                                <input type="text" st-search="bookName" placeholder="חפש ספר">
                            </th>
                            <th>
                            </th>
                            <th>
                                <select st-search="boolReturn">
                                    <option value=""></option>
                                    <option value="1">כן</option>
                                    <option value="0">לא</option>
                                </select>                    
                            </th>
                            <th>
                            </th>
                            <th>
                            </th>
                            <th>
                            </th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr ng-repeat="borrow in displayedBorrows">
                            <td>{{borrow.bookName}} (קוד #{{borrow.bookId}})</td>
                            <td>{{borrow.borrowDate| dateToISO | date:'dd/MM/yy'}}</td>
                            <td>{{(borrow.boolReturn==1)?"כן":"לא"}}</td>
                            <td>{{(borrow.boolReturn==0)?"":(borrow.returnDate| dateToISO | date:'dd/MM/yy')}}</td>
                            <td>{{(borrow.isLate==0)?"ללא":borrow.lateDays+" ימים"}}</td>
                            <td>{{(borrow.isLate==0)?"0":borrow.fine}}</td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <div tab-body>
                תוכן היסטוריה
            </div>
        </div>
    </div>
</div>
<div btns-menu></div>
