<h1>קליטת ספר</h1>
<div class="form">
    <table class="fields">
        <tr>
            <td class="title required">
                שם:
            </td>
            <td text-field field-name="name" add-class="big" description="שם הספר בעברית">
            </td>
        </tr>
        <tr>
            <td class="title required">
                סופר:
            </td>
            <td>
                <div field-description="חפש סופר קיים או הוסף סופר חדש">
                    <div angucomplete-alt id="author" placeholder="חפש סופרים" selected-object="selectedAuthor" local-data="select.authors" search-fields="name" minlength="1"  title-field="name" match-class="highlight" text-searching="מחפש..." text-no-results="false">

                    </div>
                </div>
                <div class="errors" ng-hide="loading">
                    <div ng-repeat="msg in errors.fields.author">
                        * {{msg}}
                    </div>
                </div>
            </td>
        </tr>
        <tr>
            <td class="title required">
                מדור:
            </td>
            <td select-field field-name="sectionId" options="sections" options-value="id" options-text="name" add-class="big">
            </td>
        </tr>
        <tr>
            <td class="title required">
                מס' כוננית:
            </td>
            <td select-field field-name="bookcaseId" options="bookcases" description="האפשרויות מתעדכנות בהתאם למדור שנבחר">
            </td>
        </tr>
        <tr>
            <td class="title">
                הוצאה לאור:
            </td>
            <td>
                <div field-description="חפש הוצאה לאור קיימת או הוסף אחת חדשה">
                    <div angucomplete-alt id="publisher" placeholder="חפש הוצאה לאור" selected-object="selectedPublisher" local-data="select.publishers" search-fields="name" minlength="1" title-field="name" match-class="highlight" text-searching="מחפש..." text-no-results="false">

                    </div>
                </div>
                <div class="errors" ng-hide="loading">
                    <div ng-repeat="msg in errors.fields.publisher">
                        * {{msg}}
                    </div>
                </div>
            </td> 
        </tr>
        <tr>
            <td class="title">
                שנת פרסום:
            </td>
            <td text-field field-name="releaseYear" field-type="number" description="שנה בפורמט של 4 ספרות">
            </td>     
        </tr>
        <tr>
            <td class="title">
                מס' עותקים:
            </td>
            <td text-field field-name="copies" field-type="number">
            </td>     
        </tr>
        <tr>
            <td colspan="2">
                <img src="dist/img/loader.gif" class="loader" ng-show="loading">
                <div general-errors></div>
                <a class="btn left" ng-click="addBook()" ng-hide="loading">צור ספר</a>
            </td>
        </tr>
    </table>
    <div btns-menu></div>
</div>
