#panel.borrowBooksCtrl {
    .container {
        padding-right: 30px;
    }
    h1 {
        background-image: url('img/borrowBooksBigIcon.png');
    }
    .readerTitle {
        margin: 0px;
        font-size: 25px;
        color: #008;
        padding-right: 50px;
        background-repeat: no-repeat;
        background-position: right center;
        background-size: 45px;
        background-image: url('img/displayReadersBigIcon.png');
        .readerId {
            font-size: 15px;
            margin-right: 10px;
            margin-top: 5px;
            font-style: italic;
            color: #1968c0;
        }
    }
    h3 {
        font-size: 20px;
        margin-top: 20px;
        margin-bottom: 5px;
        position: relative;
        .returnTitle {
            position: absolute;
            left: 20px;
            top: 10px;
            font-size: 16px;
        }
    }
    div.book {
        position: relative;
        padding: 8px 20px;
        background-color: #eee;
        margin-right: 20px;
        border-bottom: 1px solid #999;
        background-repeat: no-repeat;
        background-position: right 5px center;
        background-size: 25px;
        .title {
            font-weight: bold;
            font-size: 18px;
        }
        .info {
            width: 250px;
            float: right;
            font-size: 14px;
            .bookCode {
                font-size: 12px;
            }
        }
        .borrowInfo {
            font-size: 14px;
            float: right;
        }
        .borrowInfo {
            float: right;
        }
        div:last-child {
            clear: both;
        }
        .descNotAvail {
            display: none;
            color: red;
            font-size: 16px;
        }
    }
    .book.notavail {
        background-color: #FFCDBF !important;
        .descNotAvail {
            display: inline;
        }
    }
    .book.added {
        background-color: #C6FF91;
    }
    .allowedBooks {
        font-size: 14px;
    }
    #borrow {
        .book.added {
            padding-right: 40px;
            background-image: url('img/greenArrow.png');
            .removeBtn {
                display: block;
            }
        }
        .removeBtn {
            position: absolute;
            top: 17px;
            left: 5px;
            width: 20px;
            height: 20px;
            background: url('img/x.png') no-repeat;
            background-size: cover;    
            cursor: pointer;
            display: none;
        }
        margin-bottom: 20px;
    }
    #return {
        .book.added {
            padding-right: 40px;
            background-image: url('img/redArrow.png');
        }  
        .cbInit {
            position: absolute;
            padding: 10px;
            top: 10px;
            left: 20px;
            cursor: pointer;
            input {
                cursor: pointer;
            }
        }
        .fine {
            color: red;
        }
    }
}
#panel.borrowBooksMenuCtrl {
    h1 {
        background-image: url('img/borrowBooksBigIcon.png');
    }
}