html, body {
    height: 100%;
    overflow: hidden;
}
body, input, select {
    font-family: arial;
    font-size: 16px;
}
body {
    background: #000 url('img/library-bg.jpg') no-repeat center top;
    background-size: auto 100%;
}
#panelInit {
    position: absolute;
    top: 20px;
    height: 530px;
    width: 740px;
    background: rgba(255, 255, 255, 0.8);
    border-radius: 10px;
    box-sizing: border-box;
    overflow: hidden;
    padding: 15px;
    padding-left: 10px;
    ::-webkit-scrollbar {
        width: 9px;
        height: 6px;
    }
    ::-webkit-scrollbar-button {
        width: 0px;
        height: 0px;
    }
    ::-webkit-scrollbar-thumb {
        background: #e1e1e1;
        border: 1px solid #aaa;
        border-radius: 50px;
    }
    ::-webkit-scrollbar-thumb:hover {
        background: #ffffff;
    }
    ::-webkit-scrollbar-thumb:active {
        background: #000000;
    }
    ::-webkit-scrollbar-track {
        background: #666666;
        border: 0px none #ffffff;
        border-radius: 40px;
    }
    ::-webkit-scrollbar-track:hover {
        background: #666666;
    }
    ::-webkit-scrollbar-track:active {
        //background: #333333;
    }
    ::-webkit-scrollbar-corner {
        background: transparent;
    }
}
#panel {
    margin-top: 10px;
    height: 460px;
    overflow-y: auto;
    padding-left: 5px;
}
h1 {
    margin: 0px;
    margin-bottom: 20px;
    font-size: 40px;
    padding-right: 60px;
    background-repeat: no-repeat;
    background-position: right center;
    line-height: 55px;
    background-size: 55px;
}
.right {
    float: right;
}
.left {
    float: left;
}
a {
    text-decoration: none;
    color: #006;
    cursor: pointer;
}
a.btn {
    display: block;
    width: 160px;
    line-height: 34px;
    height: 34px;
    padding: 0px;
    background-image: url('img/btn.png');
    background-size: 100% 100%;
    color: #c3e3ff;   
    box-sizing: border-box;
    text-align: center;
    text-decoration: none;
    cursor: pointer;
    font-size: 17px;
    user-select: none;
}
a.btn.short {
    width: 89px;
    background-image: url('img/btnShort.png');
}
a.btn.back, a.btn.edit, a.btn.home {
    width: 89px;
    line-height: 30px;
    height: 30px;
    background-repeat: no-repeat;
    background-position: right 8px center, center center;
    background-size: 22px 22px, 100% 100%;
    text-align: right;
    padding-right: 35px;
    font-size: 15px;
    margin-right: 150px;
    margin-top: 4px;
}
a.btn.back {
    background-image: url('img/backIcon.png'), url('img/btnShort.png');
    float: right;
}
a.btn.home {
    background-image: url('img/homeIcon.png'), url('img/btnShort.png');
    background-size: 20px 20px, 100% 100%;
    float: right;
}
a.btn.edit {
    background-image: url('img/editIcon.png'), url('img/btnShort.png');
}
a.btn.back:before {
    content: "חזרה";
}
a.btn.home:before {
    content: "ראשי";
}
a.btn.back.fixed {
    position: absolute;
    left: 25px;
    bottom: 10px;
}
.btnsMenu {
    position: absolute;
    left: 25px;
    bottom: 10px;
    .btn {
        float: right;
        margin-right: 10px !important;
    }
}
a.btn.back:hover {
    background-image: url('img/backIcon.png'), url('img/btnShortHover.png');
}
a.btn.home:hover {
    background-image: url('img/homeIcon.png'), url('img/btnShortHover.png');
}
a.btn.back:active {
    background-image: url('img/backIcon.png'), url('img/btnShortActive.png');
    padding-right: 33px;
}
a.btn:hover {
    background-image: url('img/btnHover.png');
    color: #fff;
}
a.btn.short:hover {
    background-image: url('img/btnShortHover.png');
    color: #fff;
}
a.btn:active {
    background-image: url('img/btnActive.png');
    color: #ddd;
    padding-left: 2px;
    padding-top: 2px;
}
a.btn.short:active {
    background-image: url('img/btnShortActive.png');
    color: #ddd;
    padding-left: 2px;
    padding-top: 2px;
}
input:not([type=checkbox]), select {
    padding: 4px;
    border-radius: 6px;
    border: 1px solid #999;
    box-shadow: inset 1px 1px 2px #ccc, 1px 1px 5px #999;
    box-sizing: border-box;
}
.form {
    input:not([type=checkbox]) {
        width: 180px;
    }
    select {
        width: 100px;
    }
    select.big {
        width: 180px;
    }
    select.small {
        width: 70px;
    }
    input.big {
        width: 280px;
    }
    input.small {
        width: 70px;
    }
    input.ltr {
        direction: ltr;
    }

    .errors {
        color: #A00;
        font-size: 15px;
        max-width: 380px;
        white-space: normal;
    }
    .loader {
        width: 40px;
    }
    table.fields.full {
        width: 100%;
    }
    table.fields {
        td {
            white-space: nowrap;
            vertical-align: top;
        }
        >tbody>tr {
            >td {
                padding-bottom: 20px;
            }
            >td:first-child {
                //width: 150px;
            }
            >td:not(:last-child) {
                padding-left: 30px;
            }
            >td:nth-child(2):not(:last-child) {
                padding-left: 40px;
            };
            >td.title {
                font-weight: bold;
                font-size: 18px;
                text-align: left;
            }
            >td.title.required:before {
                content: "*";
                color: red;
            }
            .fieldInit label {
                display: block;
                font-size: 14px;
            }
            .fieldInit:not(:last-child) {
                margin-bottom: 5px;
            }
        }
    } 
}
input:focus {
    //outline: none;
}
.data-table {
    width: 100%;
    border-spacing: 0px;
    th {
        text-align: right;
        border-bottom: 2px solid #999;
    }
    th, td {
        padding: 10px;
    }
    td {
        font-size: 13px;
        padding-bottom: 17px;
    }
    thead {
        th {
            white-space: nowrap;
        }
        th[st-sort] {
            cursor: pointer;
        }
        input, select {
            width: 100% !important;
            font-size: 11px;
            font-weight: bold;
            ::-webkit-input-placeholder {
                color: #eee;
            }
        }
    }
    tbody {
        tr:hover td {
            background-color: #fffbd0 !important;
        }
        tr:nth-child(odd) td {
            background-color: #f9f9f9;
        }
        tr:nth-child(even) td {
            background-color: #fff;
        }
        tr:not(:last-child) td {
            border-bottom: 1px solid #aaa;
        }
    }
    .st-sort-ascent:after{
        content: '\25B2';
        font-size: 12px;
    }

    .st-sort-descent:after{
        content: '\25BC';
        font-size: 12px;
    }
}
.highlight {
    color: red;
}
img.rightImage {
    width: 150px;
    margin-left: 30px;
    float: right;
}
.angucomplete-dropdown {
    overflow-y: auto;
    max-height: 150px;
}
