#panel.updateBookCtrl {
    h1 {
        background-image: url('img/updateBookBigIcon.png');
    }
    h2.bookTitle {
        font-size: 25px;
        color: #01579b;
        margin: 0px;
    }
    .toggleMode {
        display: inline-block;
        margin-right: 10px;
        font-weight: normal;
        font-size: 15px;
        line-height: 28px;
        height: 28px;
    }
}