#panel.updateReaderCtrl {
    h1 {
        background-image: url('img/updateReaderBigIcon.png');
    }
    .toggleMode {
        display: inline-block;
        margin-right: 10px;
        font-weight: normal;
        font-size: 15px;
        line-height: 28px;
        height: 28px;
    }
    td {
        vertical-align: middle;
    }
    #borrowBtn {
        height: 25px;
        line-height: 25px;
        float: left;
        margin-right: 20px;
    }
}