<div ng-include="'app/topBar/topBar.html'"></div>
<h1>קליטת קורא</h1>
<div id="loginForm" class="form">
    <table class="fields full">
        <tr>
            <td class="title">
                ת.ז.:
            </td>
            <td>
                <input type="text" dir="ltr" ng-model="fields.id">
                <div class="errors">{{errors.id}}</div>
            </td>

        </tr>
        <tr>
            <td class="title">
                שם:
            </td>
            <td>
                <input type="text" ng-model="fields.name">
                <div class="errors">{{errors.name}}</div>
            </td>
        </tr>
        <tr>
            <td class="title">
                כתובת:
            </td>
            <td>
                <div class="fieldInit">
                    <label>עיר:</label>
                    <input type="text" ng-model="fields.city">
                    <div class="errors">{{errors.city}}</div>
                </div>
                <div class="fieldInit">
                    <label>רחוב:</label>
                    <input type="text" ng-model="fields.street">
                    <div class="errors">{{errors.street}}</div>
                </div>
            </td>
        </tr>
        <tr>
            <td class="title">
                מס' ספרים:
            </td>
            <td>
                <select ng-model="fields.maxBooks">
                    <option ng-repeat="bookNum in maxBooks" value="{{bookNum}}">{{bookNum}}</option>
                </select>
                <div class="errors">{{errors.maxBooks}}</div>
            </td>
        </tr>
        <tr>
            <td class="title">
                סוג קורא:
            </td>
            <td>
                <select ng-model="fields.readerType">
                    <option ng-repeat="readerType in readerTypes" value="{{readerType.id}}">{{readerType.title}}</option>
                </select>
                <span id="monthlyPay">
                    <b>תשלום חודשי:</b>
                    <input type="text" class="small" disabled="disabled" value="{{monthlyPay() | number:2}}">
                    ₪
                </span>
                <div class="errors">{{errors.readerType}}</div>
            </td>
        </tr>
        <tr>
            <td colspan="2">
                <img src="assets/img/loader.gif" class="loader" ng-show="loading">
                <div class="errors" ng-hide="loading">
                    <div ng-repeat="error in generalErrors">
                        * {{error}}
                    </div>
                </div>
                <a id="loginBtn" class="btn right" ng-click="login()" ng-hide="loading">צור קורא</a>
                <a class="btn back" ng-click="back()" ng-hide="loading">חזרה</a>
            </td>
        </tr>
    </table>
</div>
