<h1>הצגת ספרים</h1>
<table st-table="displayedBooks" st-safe-src="books" class="data-table">
    <thead>
        <tr>
            <th st-sort="id">קוד</th>
            <th st-sort="name" st-sort-default="true">שם</th>
            <th st-sort="sectionName">מדור</th>
            <th st-sort="bookcaseId">מס' כוננית</th>
            <th st-sort="authorName">סופר</th>
            <th st-sort="publisherName">הוצאה לאור</th>
            <th st-sort="releaseYear">שנת פרסום</th>
            <th></th>
        </tr>
        <tr>
            <th>
                <input type="number" st-search="id">
            </th>
            <th>
                <input type="text" st-search="name" placeholder="חפש שם">
            </th>
            <th>
                <select st-search="sectionName">
                    <option value=""></option>
                    <option ng-repeat="row in books| unique:'sectionName'" value="{{row.sectionName}}">{{row.sectionName}}</option>
                </select>            
            </th>
            <th>
                <input type="text" st-search="bookcaseId" placeholder="חפש כוננית">
            </th>
            <th>
                <input type="text" st-search="authorName" placeholder="חפש סופר">

            </th>
            <th>
                <input type="text" st-search="publisherName" placeholder="חפש הוצאה">
            </th>
            <th>
                <input type="text" st-search="releaseYear" placeholder="חפש שנה">
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        <tr ng-repeat="book in displayedBooks| limitTo: quantity">
            <td>{{book.id}}</td>
            <td>{{book.name}}</td>
            <td>{{book.sectionName}}</td>
            <td>{{book.bookcaseId}}</td>
            <td>{{book.authorName}}</td>
            <td>{{book.publisherName}}</td>
            <td>{{book.releaseYear}}</td>
            <td class="actionsInit">
                <a href="#/updateBook?id={{book.id}}" class="editBtn" title="ערוך"></a>
            </td>
        </tr>
    </tbody>
</table>
<div btns-menu></div>
