<h1>התחברות</h1>

<div id="loginForm" class="form">
    <table class="fields">
        <tr>
            <td>
                שם משתמש:
            </td>
            <td>
                <input type="text" class="big" dir="ltr" ng-model="fields.username">
            </td>
        </tr>
        <tr>
            <td>
                סיסמא:
            </td>
            <td>
                <input type="password" class="big" dir="ltr" ng-model="fields.password">
            </td>
        </tr>
        <tr>
            <td colspan="2">
                <img src="assets/img/loader.gif" class="loader" ng-show="loading">
                <div general-errors></div>
                <a id="loginBtn" class="btn" ng-click="login()" ng-hide="loading">התחבר</a>

            </td>
        </tr>
    </table>
</div>