<h1>השאלת/החזרת ספרים</h1>
<div class="container form">
    <h2 class="readerTitle">{{readerName}}
        <div class="readerId">-ת.ז. {{readerId}}<br>
            -מותר להשאיל: {{maxBooks}} ספרים
        </div>
    </h2>
    <div id="return">
        <h3>החזרה
            <div class="returnTitle" ng-show="borrowedBooks.length > 0">
                החזר:
            </div>
        </h3>
        <div ng-show="borrowedBooks.length == 0">
            אין ספרים מושאלים
        </div>
        <div ng-repeat="borrow in borrowedBooks">
            <div class="book" ng-class="{'added': isReturn[borrow.bookId]}">
                <div class="title">{{borrow.bookName}}</div>
                <div class="info">
                    מאת: <span class="author">{{borrow.authorName}}</span>
                    <span class="bookCode">(קוד ספר #{{borrow.bookId}})</span>
                </div>
                <div class="borrowInfo">
                    הושאל ב-{{borrow.borrowDate| dateToISO | date:'dd/MM/yy'}}
                    <span class="fine" ng-show="borrow.isLate == 1">
                        <br>
                        (איחור של {{borrow.lateDays}} ימים,
                        קנס של {{borrow.fine|number: 2}} ₪)
                    </span>
                </div>
                <div class="cbInit" ng-click="switchCb($event, borrow.bookId)">
                    <input type="checkbox" ng-model="isReturn[borrow.bookId]">
                </div>
                <div></div>
            </div>
        </div>
    </div>
    <div id="borrow">
        <h3>השאלה
            <span class="allowedBooks">{{borrows.length}}/{{allowedBooksNum()}}</span>
        </h3>
        <div ng-repeat="x in getBorrowLength() track by $index">
            <div class="book" ng-class="{'added':borrows[$index] != null, 'notavail':(borrows[$index] != null && borrows[$index].originalObject.available == 0)}">
                <div class="searchBook" ng-show="borrows[$index] == null" angucomplete-alt placeholder="חפש ספר (לפי שם/סופר/קוד)" input-class="big" selected-object="borrows[$index]" local-data="books" search-fields="name,authorName,id" description-field="authorName" minlength="1" title-field="name" match-class="highlight" clear-selected="true" text-searching="מחפש..." text-no-results="לא נמצאו תוצאות">

                </div>
                <div ng-show="borrows[$index] != null">
                    <div class="title">{{borrows[$index].originalObject.name}}<span class="descNotAvail"> - כל העותקים מושאלים</span></div>
                    <div class="info">
                        מאת: <span class="author">{{borrows[$index].originalObject.authorName}}</span>
                        <span class="bookCode">(קוד ספר #{{borrows[$index].originalObject.id}})</span>
                    </div>
                </div>
                <div class="removeBtn" ng-click="borrows.splice($index, 1)"></div>
                <div></div>
            </div>
        </div>
    </div>
    <div style="overflow: hidden;">
        <a class="btn right" ng-click="borrowReturn()">החזר והשאל ספרים</a>
        <a class="btn left short">בטל</a>
    </div>
    <div general-errors></div>
</div>

<div btns-menu></div>

