<h1>הצגת קוראים</h1>
<table st-table="displayedReaders" st-safe-src="readers" class="data-table">
    <thead>
        <tr>
            <th st-sort="id">ת.ז.</th>
            <th st-sort="name">שם</th>
            <th st-sort="address">כתובת</th>
            <th st-sort="readerType">סוג קורא</th>
            <th st-sort="maxBooks">מס' ספרים</th>
            <th st-sort="joinDate" st-sort-default="reverse">הצטרף</th>
            <th></th>
        </tr>
        <tr>
            <th>
                <input type="text" st-search="id" placeholder="חפש ת.ז.">
            </th>
            <th>
                <input type="text" st-search="name" placeholder="חפש שם">
            </th>
            <th>
                <input type="text" st-search="address" placeholder="חפש כתובת">
            </th>
            <th>
                <select st-search="readerType">
                    <option value=""></option>
                    <option ng-repeat="row in readers| unique:'readerType'" value="{{row.readerType}}">{{row.readerType}}</option>
                </select>
            </th>
            <th>
                <select st-search="maxBooks">
                    <option value=""></option>
                    <option ng-repeat="row in readers| unique:'maxBooks'" value="{{row.maxBooks}}">{{row.maxBooks}}</option>
                </select>
            </th>
            <th></th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        <tr ng-repeat="reader in displayedReaders| limitTo: quantity">
            <td>{{reader.id}}</td>
            <td>{{reader.name}}</td>
            <td>{{reader.address}}</td>
            <td>{{reader.readerType}}</td>
            <td>{{reader.maxBooks}}</td>
            <td>{{reader.joinDate| dateToISO | date:'dd/MM/yy'}}</td>
            <td class="actionsInit">
                <a class="editBtn" href="#/updateReader?id={{reader.id}}" title="ערוך"></a>
                <a class="borrowBtn" href="#/borrowBooks?id={{reader.id}}" title="השאלה/החזרה"></a>
            </td>
        </tr>
    </tbody>
</table>
<div btns-menu></div>
